body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 162, 10);
  font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column; /* Align containers vertically */
  justify-content: center; /* Center containers vertically */
  align-items: center; /* Center containers horizontally */
}

.container,
.containerDG,
.containerRQG,
.containerBMI,
.containerFD {
  background-color: rgb(235, 218, 195);
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  text-align: center;
  font-size: 18px;
}

/********* English Dictionary CSS   *********************************/
.container {
  background-color: rgb(235, 218, 195);
  width: 500px;
  padding: 30px;
  border-radius: 10px;
  margin: 5px 10px;
  max-width: 800px;
  box-shadow: black;
  text-align: center;
  font-size: 18px;
  font-weight: 50;
  top: 3%;
  left: 2%;
  margin-bottom: 10px;
}

.heading {
  font-size: 35px;
}

.input {
  height: 55px;
  width: 300px;
  background-color: peachpuff;
  border-color: black;
  font-size: 16px;
  padding: 0 42px;
  border-radius: 5px;
}

.meaning-container {
  display: none;
}
/*meaning container display is none , in javascript we 
dynamically show the container. */

/************  Dad Joke Generator CSS  ***********************************/
.containerDG {
  background-color: rgb(235, 218, 195);
  width: 500px;
  height: 200px;
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
  max-width: 800px;
  box-shadow: black;
  text-align: center;
  font-size: 18px;
  font-weight: 50;
  top: 10%;
  right: 2%;
  margin-bottom: 10px;
}

.headingDG {
  color: red;
  font-size: 35px;
  margin-bottom: 20px;
}

.btnDG {
  background-color: yellow;
  color: red;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}

/************  Random Quote Generator  CSS  *********************************/

.containerRQG {
  background-color: rgb(243, 210, 146);
  width: 500px;
  height: 200px;
  padding: 150px;
  border-radius: 10px;
  margin: 10px;
  max-width: 800px;
  box-shadow: black;
  text-align: center;
  font-size: 18px;
  font-weight: 50;
  top: 10%;
  align-self: flex-start; /* Add this line to move the container to the left */
  margin-bottom: 10px;
}

.headingRQG {
  color: rgb(142, 38, 227);
  font-size: 35px;
  margin-bottom: 20px;
}

.quoteRQG {
  color: blueviolet;
}

.author-containerRQG {
  display: none;
}
/*meaning container display is none , in javascript we 
dynamically show the container. */

.authorRQG {
  color: blueviolet;
}

.categoryRQG {
  color: blueviolet;
}

.btnRQG {
  background-color: yellow;
  color: rgb(157, 42, 233); /*text colour*/
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}

/************   BMI Index calculator  CSS  **********************************/
.containerBMI {
  background-color: rgb(243, 210, 146);
  width: 500px;
  height: 200px;
  padding: 150px;
  border-radius: 10px;
  margin: 10px;
  max-width: 800px;
  box-shadow: black;
  text-align: center;
  font-size: 18px;
  font-weight: 50;
  top: 10%;
  align-self: flex-start; /* Add this line to move the container to the left */
  margin-bottom: 10px;
}
.headingBMI {
  color: rgb(142, 38, 227);
  font-size: 35px;
  margin-bottom: 20px;
}
.inputHT {
  color: rgb(142, 38, 227);
}

.inputWT {
  color: rgb(142, 38, 227);
}
.inputBMI {
  color: rgb(142, 38, 227);
}

.btnBMI {
  color: rgb(142, 38, 227);
}

/************  Feedback Emoji Ratings  CSS  **********************************/
.containerFD {
  background-color: rgb(235, 218, 195);
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  border-color: rgb(0, 238, 255);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  bottom: 100%;
  right: 100%;
  margin-bottom: 300px;
}

.headingFD {
  color: rgb(13, 186, 85);
  margin: 5px;
  font-size: 35px;
  margin-bottom: 20px;
}

.ratings-containerFD {
  display: flex;
  padding: 20px 0;
}

.rating {
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
}

.rating:hover,
.rating.active {
  background: rgb(62, 167, 62); /*changes colour of hovered elements*/
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: rgb(40, 146, 238); /*changes colour of text inside rating  elememt*/
  transition: all 300ms ease;
}

.rating img {
  width: 70px;
}

.greeting1 {
  font-size: 30px;
}

.btnFD {
  background-color: rgb(189, 33, 213);
  color: rgb(252, 245, 245);
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}
